body {background-color:#b0c4de;}
ul.NavBar{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;}
li.NavBar{
	float:left;}
a.NavBar:link,a.NavBar:visited{
	display:block;
	width:85px;
	font-weight:bold;
	color:#000000;
	background-color:#0066FF;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;}
a.NavBar:hover,a.NavBar:active{
	background-color:#7A991A;}
div.Box{
	padding:1px;
	border:1px solid green;
	margin:0px;
    background-color:#B2B2B2;
}
div.REDEmphasize{
    color:red;
    font-style:oblique;
}
a.Box{
    color:#99CCFF;
    text-decoration:none;
}